@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: "TuskerGrotesk";
  src: local("TuskerGrotesk"),
   url("./fonts/tusker-grotesk-font/TuskerGrotesk-5700Bold.ttf") format("truetype");
  font-weight: 1000;
}

@font-face {
  font-family: "TuskerGrotesk";
  src: local("TuskerGrotesk"),
   url("./fonts/tusker-grotesk-font/TuskerGrotesk-4700Bold.ttf") format("truetype");
  font-weight: bolder;
}
 
@font-face {
  font-family: "TuskerGrotesk";
  src: local("TuskerGrotesk"),
   url("./fonts/tusker-grotesk-font/TuskerGrotesk-3700Bold.ttf") format("truetype");
  font-weight: bold;
}
 

@font-face {
  font-family: "TuskerGrotesk";
  src: local("TuskerGrotesk"),
   url("./fonts/tusker-grotesk-font/TuskerGrotesk-5500Medium.ttf") format("truetype");
  font-weight: medium;
}
 

:root {
  font-family: 'Montserrat', sans-serif;

  color-scheme: light dark;
  --color-orange: #E45A3B;
  --color-orange-secondary: #E97A5F;
  --color-orange-tertiary: #ED8B71;
  --color-dark: #19212C;
  --color-light: #FFFBEE;
  --color-yellow: #FFD600;
  --color-light-secondary: #F3D6CB;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--color-light);
}

#Navbar{
  height:12vh;
  width: 100%; 
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 3.6875rem;
  justify-content: space-between;
  z-index: 100;
  transition: background-color 0.3s ease;
}

#Navbar .logo{
  height: 5rem;
}

#Navbar .logo img{
  height: 100%;
}

#Navbar .btns{
  /* TODO */
  display: flex;
  gap: 1.625rem;
}

#Navbar .btns .nav-btns{
  display: flex;
  gap:1rem;
}

#Navbar .btns .nav-btn{
  display: block;
  text-decoration: none;

  background-color: var(--color-dark);
  border: 2px solid var(--color-orange);
  border-radius: 50%;
  height:3.5rem;
  width: 3.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#Navbar .btns .nav-btn svg{
  height: 2.1875rem;
  width: 2.1875rem;
}

#Navbar .btns .nav-btn.menu-btn{
  background-color: var(--color-orange);
  gap: 0.5rem;
  z-index: 99;
}

#Navbar .btns .nav-btn.menu-btn .bar{
  height:0.24rem;
  width:60%;
  background-color: var(--color-light);
  border-radius: 0.48125rem;
}

#Navbar .menu{
  position: absolute;
  top:0;
  left: 0;;
  height: 100vh;
  width: 100%;
  background-color: var(--color-orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Navbar .cross{
  height: 3rem;
  width: 3rem;
  position: absolute;
  top:3rem;
  right:3rem;
  cursor: pointer;
  z-index: 100;
}

#Navbar .cross svg{
  height: 100%;
  width: 100%;
  z-index: 100;
}

#Navbar .menu > .link-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  overflow: hidden;
}

#Navbar .menu .link-container a{
  font-family : 'TuskerGrotesk';
  font-weight: bold;
  text-decoration: none;
  font-size: 6.25rem;
  color:inherit;
}

#Navbar .menu .link-container a.active{
  color: var(--color-yellow);  
}

#Navbar .side-menu{
  position: absolute;
  width: 42rem;
  height: 100vh;
  background-color:var(--color-light);
  color:var(--color-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  right:0;
  padding: 6rem;
  z-index: 100;
  overflow-x: hidden;
}

#Navbar .side-menu .container{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap:3.5rem;
  width: 42rem;
  padding: 6rem;
}

.container-champ-code{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-champ-code .error{
  color:red;
  font-weight: 600;
}

.champ-code{
  display: flex;
  gap:1rem;
  max-width: 100%;
  justify-content: center;
}

.champ-code input{
  width: 3rem;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.375rem;
  padding: 1.5rem 0;
  text-align: center;
  background-color: var(--color-orange-secondary);
  border: none;
  outline: none;
  border-radius: 0.5rem;
}

#Navbar .side-menu h2{
  font-size: 2.625rem;
  font-weight: 600;
}

#Navbar .side-menu .other{
  display: flex;
  flex-direction: column;
  gap:1.125rem
}

#Navbar .side-menu a{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-orange-secondary);
  transition: all 0.2s ease;
}


#Navbar .side-menu a:hover{
  filter: brightness(0.8);
}


#Navbar .side-menu form{
 display: flex;
 flex-direction: column;
 gap: 2.125rem;
}

#Navbar .side-menu form .textfield-container{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textfield-container .error{
  color:red;
  font-weight: 600;
}

#Navbar .side-menu form .textfield{
  width: 100%;
  position: relative;
}

#Navbar .side-menu form .textfield label{
  position: absolute;
  left : 2.5625rem;
  font-size: 1.375rem;
  font-weight: 600;
  color: var(--color-orange-secondary);
  z-index: 2;
}

#Navbar .side-menu form .textfield input{
  font-family: "Montserrat";
  border:0px solid transparent;
  background-color: var(--color-light-secondary);
  color:var(--color-orange-secondary);
  padding: 1.6875rem 2.5625rem;
  border-radius: 1.25rem;
  font-size: 1.375rem;
  width: 100%;
  font-weight: 600;
  outline: none;
}

#Navbar .side-menu form .textfield .bg{
  background-color: var(--color-orange);
  width: calc(100% + 0.3rem);
  height: calc(100% + 0.3rem);
  border-radius: 1.5rem;
  position: absolute;
  top:-0.15rem;
  left:-0.15rem;
  z-index: -1;
}

#Navbar .side-menu form .textfield .mask{
  position: absolute;
  z-index: 1;
  top:-1rem;
  left: 2.5rem;
  background-color: var(--color-light);
}

#Navbar .side-menu.cart .sous-total {
  display: flex;
  justify-content: space-between;
}

#Navbar .side-menu.cart .le-panier{
  height:35vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

#Navbar .side-menu.cart .le-panier .item-panier{
  display: flex;
  justify-content: space-between;
}

#Navbar .side-menu.cart .le-panier .item-panier .container-image{
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 8rem;
}

#Navbar .side-menu.cart .le-panier .item-panier img{
  object-fit: contain;
  height: 80%;
}

#Navbar .side-menu.cart .le-panier .item-panier .container-item-panier{
  display: flex;
  align-items: stretch;
  gap: 1.25rem;
}

#Navbar .side-menu.cart .le-panier .item-panier .informations{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1rem;
}

#Navbar .side-menu.cart .le-panier .item-panier .informations .compteur-quantitee{
  background-color: var(--color-light-secondary);
  color: var(--color-orange);
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  display: flex;
  font-size: 1.25rem;
}

#Navbar .side-menu.cart .le-panier .item-panier .informations .compteur-quantitee .ajout-retrait{
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  /* rend impossible à selectionner (pour copier coller) */ 
  -webkit-user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


#Navbar .side-menu.cart .le-panier .item-panier .informations .compteur-quantitee .quantite{
  border:none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.25rem;
  outline: none;
  width: 4rem;
  text-align: center;
  margin: 0;
  color: var(--color-orange);
}

#Navbar .side-menu.cart .le-panier .item-panier .cross{
  position: static;
  height: 1.5rem;
  width:1.5rem;
}

#Navbar .side-menu.cart .le-panier .item-panier .informations .textes{
  display: flex;
  flex-direction: column;
  gap:0.4rem;
}

#Navbar .side-menu.cart .le-panier .item-panier h4{
  font-size: 1.65rem;
  font-weight: 500;
}

#Navbar .side-menu.cart .le-panier .item-panier h5{
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-orange-secondary);
}

#Navbar .side-menu.cart .sous-total h4{
  font-size: 1.875rem;
  font-weight: 500;
}

.btn{
  background-color: var(--color-orange);
  border: 2px solid var(--color-orange);
  font-family: "TuskerGrotesk";
  font-size: 1.625rem;
  font-weight: medium;
  padding: 0.875rem 5rem 0.875rem 2.25rem;
  border-radius: 5000px;
  align-self: center;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn input{
  background-color: transparent;
  border:none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  cursor: inherit;
  z-index: 2;
}

.btn img{
  position: absolute;
  right: 2rem;
  top: 50%;
  height: 2rem;
  z-index: 1;
}

.btn svg{
  position: absolute;
  right: 1.2rem;
  top:50%;
  z-index: 2;
}

.btn svg path{
  stroke: var(--color-orange);
}

.btn .anim-rectangle{
  width: 4rem;
  height: 3rem;
  background-color: var(--color-yellow);
  position: absolute;
  bottom: -2rem;
  left: -2rem;
  transition: all 0.5s ease;
  z-index: 0;
  pointer-events: none;
}

#Accueil {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Accueil .content{
  position:relative;
  top:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

#Accueil .content .main-content{
  display: flex;
  flex-direction: column;
  gap: 4.25rem;
}

#Accueil .content .texts{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap:1.625rem;
}

#Accueil .content .texts h2{
  font-size: 1.625rem;
  color:var(--color-yellow);
  font-weight: 700;
}

#Accueil .content .texts h1{
  font-size: 4.25rem;
  color: var(--color-light);
  font-weight: 800;
}

#Accueil .img-container{
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: -2;
}

#Accueil .img-container img{
  object-fit: cover;
  left:-10%;
  bottom: -10%;
  object-position: center;
  position: absolute;
  height: 120%;
  width: 120%;
  z-index: -10;
  filter: blur(16px);
} 

#Accueil .marquee{
  overflow-x:hidden;
  width: 100vw;
  border-top: 0.22375rem solid var(--color-orange);
  border-bottom: 0.22375rem solid var(--color-orange);
  z-index: -1; 
}

#Accueil .marquee .les-artistes{
  display: flex;
  gap: 1rem;
  transform: translateX(-2517.4px);
  transform: translateX(-2618px);
}

#Accueil .marquee .container{
  display: flex;
  gap: 1rem;
  align-items: center;
}

#Accueil .marquee .nom-artiste{
  font-family: 'TuskerGrotesk';
  font-weight: bold;
  text-wrap: nowrap;
  font-size: 6.25rem;
  color:transparent;
  -webkit-text-stroke: 0.22375rem var(--color-orange);
}

.exit{
  position: absolute;
  bottom:0;
  left:0;
  height:100vh;
  width: 100%;
  z-index: 100;
}

.exit.beige{
  background-color: var(--color-light);
}

.exit.dark{
  background-color: var(--color-dark);
}

/* Programmation */

.page-defaut{
  display: flex;
  flex-direction: column;
  gap: 6rem;
  padding: 15vh 3.6875rem;
  padding-top: 15vh;
  position: relative;
  overflow: hidden;
}

.page-defaut header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:4rem;
}

.page-defaut header .title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  z-index: 20;
}

.page-defaut header .title svg{
  height: 4.375rem;
}

.page-defaut header .title h2{
  font-family: 'TuskerGrotesk';
  font-weight: medium;
  color: var(--color-orange);
  font-size: 4.375rem;
}

#Programmation header .filters-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 6rem;
  row-gap: 2rem;
  width: 95%;
}

#Programmation header .filters-container .filters{
  display: flex;
  align-items: center;
  gap: 3.75rem;
}

.searchbar{
  position: relative;
  height: 100%;
}

.searchbar input{
  background-color: var(--color-orange-secondary);
  color:var(--color-light);
  padding: 1.125rem 1.25rem;
  border-radius: 1rem;
  border: none;
  font-family: "Montserrat";
  font-weight: 600;
  outline: none;
  width: 27rem;
  font-size: 1rem;
}

.searchbar input::placeholder{
  color:var(--color-light);
  font-family: "Montserrat";
}

.searchbar input:focus{
  outline: 2px solid var(--color-yellow);
}

.searchbar svg{
  z-index: 2;
  position: absolute;
  bottom:50%;
  transform: translateY(50%);
  right:1.25rem;
  height: 1.5rem;
}

.searchbar svg path{
  fill: var(--color-light);
}

.combo{
  display: flex;
  flex-direction: column;
  z-index: 15;
  position: relative;
}

.combo .always-visible::before{
  content: "";
  position: absolute;
  left:-5%;
  width: 110%;
  height: 100vh;
  background-color: var(--color-light);
  z-index: -1;
  bottom: 0;
}

.combo .always-visible{
  display: flex;
  color: var(--color-orange);
  align-items: center;
  gap: 1.56rem;
  z-index: 10;
  background-color: var(--color-light);
  cursor: pointer;
  position: relative;
}

.combo .always-visible h4{
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: 500;
}

.combo .always-visible .btn-open .bar{
  width: 1rem;
  height: 2px;
  background-color: var(--color-orange);
  border-radius: 0.375rem;
}

.combo .always-visible .btn-open .bar:nth-child(2){
  transform: rotate(90deg) translateX(-2px);
}

.combo .menu-underline{
  width: 100%;
  height:2px;
  background-color: var(--color-orange);
}

.combo .menu{
  position: absolute;
  background-color: var(--color-orange);
  width: 100%;
  height:auto;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  padding: 0.5rem;
  transform: translateY(-110%);
  transition: all 0.3s ease;
  z-index: -3;
}

.combo .menu h4{
  color:var(--color-light-secondary);
  font-weight: 500;
  padding: 0.45rem 1rem;
  background-color: transparent;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}

.combo .menu h4:hover{
  background-color: var(--color-light-secondary);
  color:var(--color-orange);
}

.combo .menu h4.active:hover{
  background-color: transparent;
  color:var(--color-light-secondary);

}

.combo .menu h4.active{
  color:var(--color-orange);
  background-color: var(--color-light-secondary);
  cursor: default;
}

#Programmation .liste-artistes{
  display: grid;
  gap:1.875rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 24rem);
  padding: 0 3.6875rem;
}

#Programmation .selected{
  transform: scale(2) translateX(80%);
  z-index: 99;
}

.outer-carte-artiste{
  width: 24rem;
  height: 15.5rem;
}

.carte-artiste{
  display: flex;
  cursor:pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5rem;
  position: relative;
  text-decoration: none;
  color: var(--color-light);
  /* mets un inner shadow en bas 
  box-shadow: inset 0 -110px 72px -33px rgba(0, 0, 0, 0.6);
  z-index: 3;*/
}

.carte-artiste::after{
  content: "";
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 60%);

}

.carte-artiste img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carte-artiste .texts{
  position: absolute;
  z-index: 2;
  bottom: 0;
  left:0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: "TuskerGrotesk";
}

.carte-artiste .texts .date-heure{
  position: relative;
}

.carte-artiste .texts h3{
  font-weight: 800;
}

.carte-artiste .texts h4{
  font-weight: 700;
}

.carte-artiste .texts h4:last-of-type{
  text-align: end;
  width: 100%;
}

#PageArtiste{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#PageArtiste .overlay{
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  height: 100%;
  transition: background 10s ease;
}

#PageArtiste img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#PageArtiste .content{
  position: absolute;
  bottom:0;
  left:0;
  z-index: 1;
  display: flex;
  justify-content: space-between; 
  width: 100%;
  align-items: center;
  padding: 3rem;
  

  display:grid;
  grid-template-areas: 
  'top top top'
  'title bottom date-heure';

}

#PageArtiste .content h3{
  color: var(--color-yellow);
  font-size: 7.625rem;
  font-family: "TuskerGrotesk";
  font-weight: 800;
  align-self: flex-end;
  grid-area: title;
}

#PageArtiste .content .date-heure{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
  align-self: flex-end;
  grid-area: date-heure;
}

#PageArtiste .content h4{
  font-size: 4.6875rem;
  font-weight: 700;
  font-family: "TuskerGrotesk";
  color: var(--color-light);
}

#PageArtiste .content h4:last-of-type{
  filter: opacity(0.8);
}

#PageArtiste .content .infos{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2.125rem;
  flex-basis: 50%;
}

#PageArtiste .content .infos p{
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-light);
}

#PageArtiste .content .infos .les-reseaux{
  display: flex;
  justify-content: center;
  gap:1rem;
}

#PageArtiste .btn-retour{
  text-decoration: none;
  color: var(--color-dark);
  gap: 1.125rem;
  z-index: 1;
  transition: all 0.3s ease;
}

#PageArtiste .btn-retour:hover{
  gap: 1.875rem;
  filter: brightness(2);
}

#PageArtiste .btn-retour svg{
  height: 2rem;
  width: 2rem;
}

#PageArtiste .btn-retour svg rect{
  fill: var(--color-dark);
  filter: brightness(3);
}

.btn-reseau{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 4.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid var(--color-orange);
}

/* FAQ */

#Faq .les-faqs{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.faq-card{
  display: flex;
  flex-direction: column;
  gap: 1.3125rem;
  overflow: visible;
  border-top: 2px solid var(--color-orange);
  padding-top:2.5rem;
  cursor: pointer;
}

.faq-card .top-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.3125rem;
}

.faq-card .top-content .title{
  display: flex;
  gap:2.5625rem;
  align-items: center;;
}

.faq-card .top-content .cross{
  width: 2.25rem;
  height: 1.625rem;
  cursor: pointer;
}

.faq-card .index{
  font-family: "TuskerGrotesk";
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-orange-secondary);
}

.faq-card .question{
  font-family: "TuskerGrotesk";
  font-weight: 500;
  font-size: 2rem;
  color: var(--color-orange);
}

.faq-card p{
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--color-orange-tertiary);
  padding: 0 6rem;
}

/* Billetterie */

#Billeterie{
  padding: 12vh 0 0 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-bottom: 100px;
}
#Billeterie header{
  position: relative;
  height: 316px;
}

#Billeterie .billets {
  padding: 0 325px 0 325px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#Billeterie .bgbillet{
  position: relative;
  padding: 0;
  min-width: 100%;
}
#Billeterie .billetExemple {
  position: absolute;
  top: 12vh;
  width: 35vw; 
}

#Billeterie .header h2{
    font-family: 'TuskerGrotesk';
    font-weight: bold;
    color: var(--color-orange);
    font-size: 4.375rem;
    color: white;
    position: absolute;
    left: 1em;
    top: 0.6em;
  }

#Billeterie .header-billet{
  display: flex;
  align-items: center;
  color: #000;
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  justify-content: space-between;
  margin-top: 10px;
}

#Billeterie .header-billet h2, #Billeterie h3, .ticket-card h4{
  color: var(--color-orange, #E45A3B);
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#Billeterie .header-billet h2{
  font-size: 40px;
}

#Billeterie h3{
  font-size: 36px;
}


#Billeterie .header-billet .lieu, .ticket-card .left-part p{
  color: var(--greytext, #4E4E4E);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}


#Billeterie .header-billet .lieu{
  font-weight: 600;

}

.ticket-card .left-part p{
  font-weight: 400;
}

#Billeterie .lieu{
  display: flex;
  gap: 10px;
}

#Billeterie .billets-content{
  margin-top: 55px;
  padding: 0 15px 0 15px;
  display: flex;
  flex-direction: column;
}

#Billeterie .achat-billets{
  margin-top:30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#Billeterie .ticket-card {
  background-color: white;
  box-shadow: 0px 20px 23.8px -28px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 95%;
  margin: 1rem 0;
}
#Billeterie .ticket-card .content{
  padding: 20px;
}

#Billeterie .ticket-card .content h4{
  font-size: 20px;
}

#Billeterie .ticket-card h4{
  margin-bottom: 30px;
}

#Billeterie .ticket-card .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Billeterie .right-part{
  display: flex;;
  gap: 10px;
}

#Billeterie .ticket-card .sub-menu{
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  height: 80px;
  padding: 0 10px;
  position: relative;
  box-shadow: 0px 20px 23.8px -28px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}


#Billeterie .left-part-sub{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}

#Billeterie .bottom-partsubmenu{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#Billeterie .bottom-part-left{display: flex;
  gap: 20px;
}

#Billeterie .delimiter-submenu{
  width: 80%;
  height: 2px;
  background-color: #808080;
}

#Billeterie .top-partsubmenu{
  width: 80%;
}

.sub-menu-left-part{
  display: flex;
  align-items: center;
  gap: 30px;
}

#Billeterie .article-select{
  display: flex;
  align-items: center;
}

.ticket-card .rect{
  position: relative;
  background-color: white;
  width: 166px;
  height: 50px;
  border-radius: 12px;
}

.ticket-card img{
  position: absolute;
  width: 100px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  top: calc(50% - 35px / 2); 
  left: calc(50% - 100px / 2); 
}

.ticket-card .sub-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white, #FFF);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ticket-control {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.ticket-control button {
  background: none; 
  border: none; 
  font-size: 2em;
  cursor: pointer; 
  color: white;
}

.ticket-control span {
  margin: 0 1em;
}

.ticket-control .sommeButton {
  margin-bottom: 2px;
  font-size: 1.7em;
}

.sub-menu.forfait-2j {
  height: 300px; 
}

.sub-menu.forfait-2j, .sub-menu{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer{
  background-color: var(--color-orange);
  color: var(--color-light-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  width: 100%;
  padding:6rem;
  overflow-x: hidden;
}

footer .top-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap:6.25rem;
  position: relative;
}

footer .top-content .logo{
  position: relative;
  left: 2rem;
}

footer .top-content .rubriques{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  width: 70%;
  gap: 2rem;
  column-gap: 10rem;
  /* centre les */
  justify-items: center;
  align-items: center;
  text-align: center;

}

footer .top-content .rubrique{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
}

footer .top-content .rubrique ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .top-content .rubrique ul li{
  list-style: none;
  margin-bottom: 1.25rem;
}

footer .top-content .rubrique ul li a{
  text-decoration: none;
  color: var(--color-light-secondary);
  font-size: 1.25rem;
  font-weight: 500;
  transition: all 0.2s ease;

}

footer .top-content .rubrique h3{
  font-weight: 700;
  font-size: 1.75rem;
}

footer .bottom-content{
  width: 90%;
  border-top: 2px solid var(--color-yellow);
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap:1.5625rem;
}

footer .bottom-content h4{
  font-size: 1.25rem; 
}

footer .bottom-content h5{
  font-size: 1rem;
  font-weight: 500;
}

/* fais des media queries qui ne changent que le fontsize du body */

/* Point de rupture pour les écrans LG */
@media (max-width: 1199px) {
  html {
    font-size: 14px;
  }
}

/* Point de rupture pour les écrans MD */
@media (max-width: 991px) {
  html {
    font-size: 12px;
  }
}

/* Point de rupture pour les écrans SM */
@media (max-width: 767px) {
  html {
    font-size: 10px;
  }
}

/* Point de rupture pour les écrans XS */
@media (max-width: 576px) {
  html {
    font-size: 8px;
  }
}