* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #f5f5f5;
}

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.menu {
    margin-top: 3em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 800px;
}

.menu-item {
    background-color: #007bff;
    padding: 40px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.menu-item:hover {
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: white; 
    font-size: 1.5em; 
    font-weight: bold; 
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffc107;
}