{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_spectateurs.css') }}">
{% endblock %}

{% block content %}
    <a id="retour" href="{{ url_for('menu_admin') }}" class="btn-retour">Retour</a>
    <h1>Les spectateurs du festival</h1>
    <table>
        <thead>
            <tr>
                <td>id Spectateur</td>
                <td>nom</td>
                <td>prénom</td>
                <td>adresse</td>
                <td>email</td>
                <td>mdp</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for spectateur in liste_spectateurs %}
                <tr>
                    <td> {{ spectateur.get_idS() }} </td>
                    <td> {{ spectateur.get_nomS() }} </td>
                    <td> {{ spectateur.get_prenomS() }} </td>
                    <td> {{ spectateur.get_adresseS() }} </td>
                    <td> {{ spectateur.get_emailS() }} </td>
                    <td> {{ spectateur.get_mdpS() }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="ajouter">Ajouter</button>
{% endblock %}