{% block styles %}
    <link rel="stylesheet" href=" {{ url_for('static', filename='admin_users.css')}}">
{% endblock %}

{% block content %}
    <a id="retour" href="{{ url_for('menu_admin') }}" class="btn-retour">Retour</a>
    <h1>Les comptes de l'application</h1>
    
    <table>
        <thead>
            <tr>
                <th>id User</th>
                <th>Pseudo</th>
                <th>Mdp</th>
                <th>Email</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr> 
        </thead>
        <tbody>
            {% for user in liste_users %}
                <tr>
                    <td>{{ user.get_idUser() }}</td>
                    <td>{{ user.get_pseudoUser() }}</td>
                    <td>{{ user.get_mdpUser() }}</td>
                    <td>{{ user.get_emailUser() }}</td>
                    <td>{{ user.get_statutUser() }}</td>
                    <td>
                        <button class="btn-modifier"
                            data-id=" {{ user.get_idUser() }}"
                            data-pseudo=" {{ user.get_pseudoUser() }}"
                            data-mdp=" {{ user.get_mdpUser() }}"
                            data-email=" {{ user.get_emailUser() }}">Modifier</button>
                        <button class="btn-supprimer" data-id=" {{ user.get_idUser() }}">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button id="ajouter">Ajouter</button>
    <!-- Modale pour ajouter un compte -->
    <div id="modal-ajouter" class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <form action="/ajouter_user" method="POST">
                <label for "pseudo_user">Pseudo:</label>
                <input type="text" name="pseudo_user" id="pseudo_user_ajouter" required>
                <label for "mdp_user">Mot de passe:</label>
                <input type="text" name="mdp_user" id="mdp_user_ajouter" required>
                <label for "email_user">Email:</label>
                <input type="email" name="email_user" id="email_user_ajouter">
                <label for "statut_user">Statut:</label>
                <select name="statut_user" id="statut_user_ajouter" required>
                    <option disabled selected value> Choisir un statut </option>
                    <option value="admin">admin</option>
                    <option value="user">user</option>
                </select>
                <button class="btn-ajouter" type="submit">Ajouter</button>
            </form>
        </div>
    </div>

    <!-- Modale pour modifier un compte -->
    <div id="modal-modifier" class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <form action="/modifier_user" method="POST">
                <input type="hidden" name="id_user" id="id_user_modifier">
                <label for "pseudo_user">Pseudo:</label>
                <input type="text" name="pseudo_user" id="pseudo_user_modifier" required>
                <label for "mdp_user">Mot de passe:</label>
                <input type="text" name="mdp_user" id="mdp_user_modifier" required>
                <label for "email_user">Email:</label>
                <input type="email" name="email_user" id="email_user_modifier">
                <button id="modifier" type="submit">Modifier</button>
            </form>
        </div>
    </div>
    <!-- Modale pour supprimer un compte -->
    <div id ="modal-supprimer" class="modal">
        <div class="modal-content">
            <span class="close-button">x</span>
            <form action="/supprimer_user" method="POST">
                <input type="hidden" name="id_user" id="id_user_supprimer">
                <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
                <button id="supprimer" type="submit">Supprimer</button>
            </form>
        </div>
    </div>
    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var modalAjouter = document.getElementById("modal-ajouter");
            var modalSupprimer = document.getElementById("modal-supprimer");
            var modalModifier = document.getElementById("modal-modifier");
            var btnClose = document.querySelectorAll(".close-button");
            

            btnClose.forEach(function(btn) {
                btn.onclick = function() {
                    btn.closest(".modal").style.display ="none";
                };
            });

            document.querySelectorAll(".btn-modifier").forEach(function(btn) {
                btn.onclick = function() {
                    document.getElementById("id_user_modifier").value = btn.getAttribute("data-id");
                    document.getElementById("pseudo_user_modifier").value = btn.getAttribute("data-pseudo");
                    document.getElementById("mdp_user_modifier").value = btn.getAttribute("data-mdp");
                    document.getElementById("email_user_modifier").value = btn.getAttribute("data-email");
                    modalModifier.style.display = "block";
                };
            });

            document.getElementById("ajouter").onclick = function() {
                modalAjouter.style.display = "block";
                document.getElementById("pseudo_user_ajouter").value = "";
                document.getElementById("mdp_user_ajouter").value = "";
                document.getElementById("email_user_ajouter").value = "";
                document.getElementById("pseudo_user_ajouter").focus();
            };

            document.querySelectorAll(".btn-supprimer").forEach(function(btn) {
                btn.onclick = function() {
                    document.getElementById("id_user_supprimer").value = btn.getAttribute("data-id");
                    modalSupprimer.style.display = "block";
                };
            });

            window.onclick = function(event) {
                if (event.target.classList.contains("modal")) {
                    event.target.style.display = "none";
                }
            }
        });


    </script>
{% endblock %}