{% block styles %} 
    <link rel="stylesheet" href="{{ url_for("static", filename="API.css") }}">
{% endblock %}
{% block content %}
<div class="titre">
    <h1> Voici la liste des routes pour tester l'API de l'application </h1>
</div>
<ul>
    <li> <a href="{{ url_for('getNomsArtistes') }}"> getNomsArtistes </a> </li>
    <li> <a href="{{ url_for('getArtistes') }}"> getArtistes </a> </li>
    <li> <a href="{{ url_for('getInformationsSupplementairesArtiste', id=1) }}"> getInformationsSupplementairesArtiste(id) </a> </li>
    <li> <a href="{{ url_for('getArtiste', id=1) }}"> getArtiste(id) </a> </li>
    <li> <a href="{{ url_for('getImageArtiste', id=1) }}"> getImageArtiste(id) </a> </li>
    <li> <a href="{{ url_for('filtrerArtistes') }}"> filtrerArtistes </a> </li>
    <li> <a href="{{ url_for('recherche') }}"> recherche </a> </li>
    <li> <a href="{{ url_for ('filtrer_styles') }}"> filtrer_styles </a> </li>
</ul>

{% endblock %}